services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: time-box
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  time-box:
    build: .
    container_name: time-box_service
    restart: always
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/time-box
      SPRING_DATASOURCE_USERNAME: s
      SPRING_DATASOURCE_PASSWORD: sss
    ports:
      - "8100:8082"

  otel-lotel-lgtm:
    container_name: time-box_otel-lgtm
    image: grafana/otel-lgtm:latest
    restart: always
    ports:
      - "3001:3000"
      - "4317:4317"
      - "4318:4318"


volumes:
  grafana-data:
  postgres_data:

networks:
  time-box:
    driver: bridge
